output_fpga.txt
vitis_hls.log
ESE5320_Project/.project
ESE5320_Project/hls.app
ESE5320_Project/.apc/autopilot.apfmapping
ESE5320_Project/.settings/language.settings.xml
ESE5320_Project/solution1/directives.tcl
ESE5320_Project/solution1/script.tcl
ESE5320_Project/solution1/solution1.directive
ESE5320_Project/solution1/solution1.log
ESE5320_Project/solution1/.autopilot/.autopilot_exit
ESE5320_Project/solution1/.autopilot/db/.message_csim.xml
ESE5320_Project/solution1/.autopilot/db/a.g
ESE5320_Project/solution1/.autopilot/db/a.g.0.bc
ESE5320_Project/solution1/.autopilot/db/a.g.1.bc
ESE5320_Project/solution1/.autopilot/db/a.g.2.bc
ESE5320_Project/solution1/.autopilot/db/a.g.2.prechk.bc
ESE5320_Project/solution1/.autopilot/db/a.g.bc
ESE5320_Project/solution1/.autopilot/db/a.g.ld.0.bc
ESE5320_Project/solution1/.autopilot/db/a.g.ld.1.lower.bc
ESE5320_Project/solution1/.autopilot/db/a.g.ld.2.m1.bc
ESE5320_Project/solution1/.autopilot/db/a.g.ld.3.fpc.bc
ESE5320_Project/solution1/.autopilot/db/a.g.ld.4.m2.bc
ESE5320_Project/solution1/.autopilot/db/a.g.ld.5.gdce.bc
ESE5320_Project/solution1/.autopilot/db/a.g.lto.bc
ESE5320_Project/solution1/.autopilot/db/a.o.1.bc
ESE5320_Project/solution1/.autopilot/db/a.o.1.tmp.bc
ESE5320_Project/solution1/.autopilot/db/a.o.2.bc
ESE5320_Project/solution1/.autopilot/db/a.o.3.bc
ESE5320_Project/solution1/.autopilot/db/a.pp.bc
ESE5320_Project/solution1/.autopilot/db/apatb_encoding_ir.ll
ESE5320_Project/solution1/.autopilot/db/apatb_encoding.cpp
ESE5320_Project/solution1/.autopilot/db/autopilot.flow.log
ESE5320_Project/solution1/.autopilot/db/bugpoint.sh
ESE5320_Project/solution1/.autopilot/db/burst.xml
ESE5320_Project/solution1/.autopilot/db/Decoder.bc
ESE5320_Project/solution1/.autopilot/db/Decoder.g.bc
ESE5320_Project/solution1/.autopilot/db/Decoder.pp.0.cpp
ESE5320_Project/solution1/.autopilot/db/Dedup.bc
ESE5320_Project/solution1/.autopilot/db/Dedup.g.bc
ESE5320_Project/solution1/.autopilot/db/Dedup.pp.0.cpp
ESE5320_Project/solution1/.autopilot/db/encoding.adb
ESE5320_Project/solution1/.autopilot/db/encoding.adb.xml
ESE5320_Project/solution1/.autopilot/db/encoding.bind.adb
ESE5320_Project/solution1/.autopilot/db/encoding.bind.adb.xml
ESE5320_Project/solution1/.autopilot/db/encoding.compgen.dataonly.tcl
ESE5320_Project/solution1/.autopilot/db/encoding.compgen.tcl
ESE5320_Project/solution1/.autopilot/db/encoding.rtl_wrap.cfg.tcl
ESE5320_Project/solution1/.autopilot/db/encoding.sched.adb
ESE5320_Project/solution1/.autopilot/db/encoding.sched.adb.xml
ESE5320_Project/solution1/.autopilot/db/encoding.verbose.bind.rpt
ESE5320_Project/solution1/.autopilot/db/encoding.verbose.bind.rpt.xml
ESE5320_Project/solution1/.autopilot/db/encoding.verbose.rpt
ESE5320_Project/solution1/.autopilot/db/encoding.verbose.rpt.xml
ESE5320_Project/solution1/.autopilot/db/encoding.verbose.sched.rpt
ESE5320_Project/solution1/.autopilot/db/encoding.verbose.sched.rpt.xml
ESE5320_Project/solution1/.autopilot/db/Host.bc
ESE5320_Project/solution1/.autopilot/db/Host.g.bc
ESE5320_Project/solution1/.autopilot/db/Host.pp.0.cpp
ESE5320_Project/solution1/.autopilot/db/insert.adb
ESE5320_Project/solution1/.autopilot/db/insert.adb.xml
ESE5320_Project/solution1/.autopilot/db/insert.bind.adb
ESE5320_Project/solution1/.autopilot/db/insert.bind.adb.xml
ESE5320_Project/solution1/.autopilot/db/insert.compgen.dataonly.tcl
ESE5320_Project/solution1/.autopilot/db/insert.compgen.tcl
ESE5320_Project/solution1/.autopilot/db/insert.sched.adb
ESE5320_Project/solution1/.autopilot/db/insert.sched.adb.xml
ESE5320_Project/solution1/.autopilot/db/insert.tbgen.tcl
ESE5320_Project/solution1/.autopilot/db/insert.verbose.bind.rpt
ESE5320_Project/solution1/.autopilot/db/insert.verbose.bind.rpt.xml
ESE5320_Project/solution1/.autopilot/db/insert.verbose.rpt
ESE5320_Project/solution1/.autopilot/db/insert.verbose.rpt.xml
ESE5320_Project/solution1/.autopilot/db/insert.verbose.sched.rpt
ESE5320_Project/solution1/.autopilot/db/insert.verbose.sched.rpt.xml
ESE5320_Project/solution1/.autopilot/db/insertap_header.systemc.txt.ap_header.txt
ESE5320_Project/solution1/.autopilot/db/insertap_header.verilog.txt.ap_header.txt
ESE5320_Project/solution1/.autopilot/db/insertap_header.vhdl.txt.ap_header.txt
ESE5320_Project/solution1/.autopilot/db/mapper_encoding.cpp
ESE5320_Project/solution1/.autopilot/db/SHA256.bc
ESE5320_Project/solution1/.autopilot/db/SHA256.g.bc
ESE5320_Project/solution1/.autopilot/db/top-io-be.tcl
ESE5320_Project/solution1/.autopilot/db/top-io-fe.xml
ESE5320_Project/solution1/csim/build/BenjiBro.txt
ESE5320_Project/solution1/csim/build/csim.exe
ESE5320_Project/solution1/csim/build/output_cpu.bin
ESE5320_Project/solution1/csim/build/output_fpga.txt
ESE5320_Project/solution1/csim/build/obj/Decoder.o
ESE5320_Project/solution1/csim/build/obj/Testbench.d
ESE5320_Project/solution1/csim/build/obj/Testbench.o
ESE5320_Project/solution1/csim/report/encoding_csim.log
ESE5320_Project/solution1/syn/report/encoding_csynth.rpt
ESE5320_Project/solution1/syn/report/encoding_csynth.xml
ESE5320_Project/solution1/syn/report/insert_csynth.rpt
ESE5320_Project/solution1/syn/report/insert_csynth.xml
ESE5320_Project/solution1/syn/verilog/encoding_insert.v
ESE5320_Project/solution1/syn/verilog/encoding.v
ESE5320_Project/solution1/syn/vhdl/encoding_insert.vhd
ESE5320_Project/solution1/syn/vhdl/encoding.vhd
Test/BenjiBro
Test/BenjiBro.txt
vitis_hls.log
ESE5320_Project/.project
ESE5320_Project/hls.app
ESE5320_Project/.apc/autopilot.apfmapping
ESE5320_Project/.settings/language.settings.xml
ESE5320_Project/solution1/directives.tcl
ESE5320_Project/solution1/script.tcl
ESE5320_Project/solution1/solution1.directive
ESE5320_Project/solution1/solution1.log
ESE5320_Project/solution1/.autopilot/.autopilot_exit
ESE5320_Project/solution1/.autopilot/db/.message_csim.xml
ESE5320_Project/solution1/.autopilot/db/autopilot.flow.log
ESE5320_Project/solution1/csim/build/csim.exe
ESE5320_Project/solution1/csim/build/output_cpu.bin
ESE5320_Project/solution1/csim/build/obj/Decoder.o
ESE5320_Project/solution1/csim/build/obj/Testbench.d
ESE5320_Project/solution1/csim/build/obj/Testbench.o
ESE5320_Project/solution1/csim/report/encoding_csim.log
ESE5320_Project
vitis_hls.log
ESE5320_Project/.project
ESE5320_Project/hls.app
ESE5320_Project/.apc/autopilot.apfmapping
ESE5320_Project/.settings/language.settings.xml
ESE5320_Project/solution1/script.tcl
ESE5320_Project/solution1/solution1.log
ESE5320_Project/solution1/.autopilot/.autopilot_exit
ESE5320_Project/solution1/.autopilot/db/.message_csim.xml
ESE5320_Project/solution1/.autopilot/db/autopilot.flow.log
ESE5320_Project/solution1/csim/build/csim.exe
ESE5320_Project/solution1/csim/build/output_cpu.bin
ESE5320_Project/solution1/csim/build/obj/Decoder.o
ESE5320_Project/solution1/csim/build/obj/encoder.o
ESE5320_Project/solution1/csim/build/obj/Testbench.d
ESE5320_Project/solution1/csim/build/obj/Testbench.o
ESE5320_Project/solution1/csim/report/encoding_csim.log
vitis_hls.log
ESE5320_Project/.project
ESE5320_Project/hls.app
ESE5320_Project/.apc/autopilot.apfmapping
ESE5320_Project
vitis_hls.log
_x/link/vivado/vpl/prj/prj.gen/sources_1/bd/u96v2_sbc_base/ip/u96v2_sbc_base_auto_ds_3/.nfs0000000098ecc838000003b6
